body { 

  height: 500vh;
  margin: 100px 100px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2; 

}


/* Style title */

.title
		{

  text-align: center;
  font-size: 60px;
  color: #cd5c5c;
  background-color: #75a3a3;
  }
  
  
  
  
#links {
  position: relative;
  left: 550px;
  }
  
  
  /* Style 1st button */
  
.button1
		{
  background-color: #cd5c5c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }
  



  
  
  
  
/* Style 2nd button */
.button2
		{
  background-color: #75a3a3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }
  
  
/* Style footer */

.menu



footer {
	font-family: Arial, Helvetica, sans-serif;
	 font-size: 20px;
}
  